<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="StyloFormulario.css">
</head>
<body>
    <h1>Formulario Alta/Modificación de Empleado</h1>

    <fieldset>
        <legend>Formulario</legend>
        <form th:object="${empleado}" th:action= "@{/persistir}" method="post">
            <input type="hidden" th:field="*{id}">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" th:field="*{nombre}">
            <label for="primerApellido">Primer Apellido</label>
            <input type="text" id="primerApellido" th:field="*{primerApellido}">
            <label for="segundoApellido">Segundo Apellido:</label>
            <input type="text" id="segundoApellido" th:field="*{segundoApellido}" >
            <label for="fechaAlta">Fecha de Alta:</label>
            <input type="date" id="fechaAlta" th:field="*{fechaAlta}">
            <label for="salario">Salario:</label>
            <input type="text" id="salario" th:field="*{salario}">
            <fieldset>
                <legend>Genero</legend>
                <label for="hombre">Hombre</label>
                <!-- para un radio boton es necesario usar una label para mejor funcionalidad -->
                <input type="radio" name="genero" id="hombre" value="HOMBRE" th:field="*{genero}">
                <label for="mujer">Mujer</label>
                <input type="radio" name="genero" id="mujer" value="MUJER" th:field="*{genero}">
                <label for="otro">Otro</label>
                <input type="radio" name="genero" id="otro" value="OTRO" th:field="*{genero}">
            </fieldset>
            <label for="departamento">Departamento</label>
            <select name="departamento" id="departamento">
                <option></option>
                <option th:each=" departamento : ${departamentos}"
                        th:value="${departamento.id}"
                        th:text="${departamento.nombre}"
                        th:selected="${empleado.id != 0 and empleado.departamento.id == departamento.id}">
                    </option>
            </select>
            <div class="form-group">
            <label for="telefonos">Telefono</label>
            <input type="text" id="telefonos" name="numerosTel" 
                        placeholder="Uno o varios separados por ;" 
                        th:value="${numerosTelefono}">
                    </div>
                    <div class="form-group"></div>
            <label for="correos">Correo</label>
            <input type="text" id="correos" name="direccionesCorreo"
                        placeholder="Uno o varios separados por ;"
                        th:value="${direccionesDeCorreo}">
                    </div>
                    <div class="form-group center-input">             
            <input type="submit" value="Alta/Modificacion">
                    </div>
            <!-- La diferencia entre el input y el button, es que en el primero
             los datos que vas rellenando se guardan -->
        </form>

    </fieldset>
</body>
</html>